[user]
	email = mishajw@gmail.com
	name = Misha Wagner
	signingkey = 92271A1D
[commit]
	gpgsign = true
[push]
	default = current
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[alias]
  a = add
  ap = add --patch
  b = branch
  c = "!f() { git commit --message \"$*\"; }; f"
  ca = "!f() { git commit --all --message \"$*\"; }; f"
  cam = commit --amend
  cf = commit --fixup
  cl = "!f() { git clone ssh://git@github.com/$*; }; f"
  co = checkout
  d = diff
  ds = diff --staged
  f = fetch
  l = log --oneline --decorate
  lg = log --oneline --decorate --graph
  m = merge
  p = push
  pf = push --force
  pl = pull
  psup = push --set-upstream origin $(git_current_branch)
  rao = remote add origin
  rb = rebase
  rba = rebase --abort
  rbas = rebase --interactive --autosquash
  rbc = rebase --continue
  rbi = rebase --interactive
  rbih = rebase --interactive HEAD~20
  s = status
  sh = show
  shf = show --name-only
  si = submodule init
  st = stash
  std = stash drop
  stn = stash push --message
  stp = stash pop
  stsh = stash show --patch
  su = submodule update

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[diff]
	tool = vimdiff
[difftool]
	prompt = true
[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX
[rebase]
	autoStash = true
