[user]
	email = misha.wagner@hawkeyeinnovations.com
	name = misha_wagner
[push]
	default = current
[core]
	editor = vim
[alias]
  a = add
  b = branch
  c = commit --message
  ca = commit --all --message
  co = checkout
  d = diff
  l = log --oneline --decorate --graph
  m = merge
  ph = push
  pl = pull
  psup = push --set-upstream origin (git_current_branch)
  rb = rebase
  rbi = rebase -i
  rbih = rebase -i HEAD~20
  s = status
  si = submodule init
  st = stash
  std = stash drop
  stp = stash pop
  su = submodule update

